.MenuContainer{
    /* position: relative; */
}

.MenuUl{
    list-style-type: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.599);
    border-radius: 20px;
    display: flex;
    align-items: center;
    

}

.MenuUl li{
    display: inline;
    padding: 5px;
    margin:0px 25px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.MenuUl li a{
    text-decoration: none;
    color: black;

}

.MenuUl li:hover{
    
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-weight: 700;
    
}

.ActiveMenu{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

.ShowMenuContainer{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 10px;
    display: none;
    margin: 5px;
}

.showMenuItem{
    border: 1px solid black;
    margin: 5px 0px;
    width: 100%;

}


@media (min-width:250px) and (max-width:760px) {
    .MenuUl{
        /* width:100% */
        display: none;

    }

    .MenuUl li{
        margin:0px 5px;
    }

    .ShowMenuContainer{
        display: block;
    }
}