.MenuContainer{
    background-color: rgba(253, 251, 251, 0.403);
    padding: 5px;
    border-radius: 20px;
}

.MenuItem{
    margin: 15px;
    letter-spacing: 3px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.MenuItem:hover{
    /* background-color: white; */
    /* color: rgb(0, 0, 0); */
    background-color: white;
    padding: 5px 3px 5px 3px;
    border-radius: 20px;
    
}