.HeadingContainer{
    text-align: center;
    background-image: url('../../Assets/GreenField.png');
    padding: 10px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.95;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.Heading{
   display: flex;
   align-items: center;
   justify-content: space-between;
}


@media (min-width:250px) and (max-width:760px) {
    .Heading{
        flex-wrap: wrap;
        justify-content: center;
    }
}
