@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.HomeHeading{
    text-align: center;
    background-color: rgb(100, 205, 237);
    padding: 5px;
    color: rgb(255, 255, 255);
}

.HomeHeading p{
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    
}

.Video{
    width: 100%;
    height: 500px;
    background-image: url('https://www.shutterstock.com/shutterstock/videos/19996810/thumb/1.jpg?ip=x480');
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    padding: 15px;
}

.Video video{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

@media (min-width:250px) and (max-width:550px) {
    .Video{
        height: 300px;
        width: 100%;
        overflow-x: hidden;
    }
    .HomeHeading p{
        font-size: 18px;
    }
}