.Carasolecontainer{
   text-align: center;
}

.CarasoleImg{
    height: 550px;
}

.CarasoleHeading{
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}