.Carasolecontainer{
   text-align: center;
}

.Animated_section{
    /* opacity: 0; */
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
 }

.CarasoleImg{
    height: 650px;
}

.CarasoleHeading{
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}


@media (min-width:250px) and (max-width:750px) {
    .CarasoleImg{
        height: 200px;
    }
}