.LogoContainer{
    color: rgb(249, 247, 247);
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(103, 140, 141, 0.598);
    padding: 5px;
    border-radius: 20px;
    
}

.LogoContainer img{
    width: 80px;
    border-radius: 50%;
    
    
}

.LogoContainer p{
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
}